@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 5%, transparent 90%);
  font-family: Arial, Helvetica, sans-serif;
}


/* Fade-in: começa transparente e aparece */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    /*display: none;*/
  }
}
.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

/* Fade-out: começa visível e desaparece */
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}

